<div 
    class="h-auto lg:h-screen flex lg:flex-row w-full relative" 
    [ngClass]="{
                'bg-[#efefef] justify-center flex-col-reverse': showDetailsProduct,
                'flex-col-reverse': !showDetailsProduct
            }">
    <div 
        class="
            products 
            w-full h-screen lg:w-1/2 lg:absolute lg:top-0 lg:bottom-0 lg:right-0 z-[60] 
            transition-transform duration-1000 ease-in-out"
        [ngClass]="{'translate-x-full': showDetailsProduct, 'translate-x-0': !showDetailsProduct}">
        <app-products (onShowDetails)="onShowDetails($event)"></app-products>
    </div>
    <div 
        class="
            profile
            w-full h-screen lg:w-1/2 lg:bottom-0 lg:left-0 lg:top-0 z-[60]
            bg-jungle-img bg-no-repeat bg-cover 
            lg:absolute
            transition-transform duration-1000 ease-in-out"
        [ngClass]="{'-translate-x-full ': showDetailsProduct, '-translate-x-0': !showDetailsProduct}">
        <app-profile></app-profile>
    </div>
    <div 
        class="
            details
            w-3/4
            bg-white shadow-lg
            m-12
            rounded-md
            transition-all delay-100"
            [ngClass]="{'absolute top-0 left-0 h-[calc(100vh-7rem)] overflow-auto lg:overflow-hidden lg:static lg:h-auto': showDetailsProduct}"
            *ngIf="showDetailsProduct">
        <app-details-product 
                            [product]="product"
                            [showDetailsProduct]="showDetailsProduct"
                            (OnshowDetailsProduct)="showDetailsProduct = false">
        </app-details-product>
    </div>
    <div 
        class="
                 bg-white rounded-full p-4
                absolute left-8 z-[75]
                hover:scale-110 transition-transform duration-300 ease-in-out"
        *ngIf="!showDetailsProduct"
        [ngClass]="showArrowBottom ? 'bottom-[calc(100vh-(-5rem))]' : 'bottom-12'"
        (click)="gotToPositonScroll()">
        <img 
            [src]="
                    showArrowBottom 
                        ? './../../assets/img/arrow-down-solid.svg' 
                        : './../../assets/img/arrow-up-solid.svg'"
                    class="arrow-down w-8 h-8">
    </div>
</div>